# Server Configuration
SERVER_PORT=8080
# Modes: NORMAL (Open), WHITELIST (Restricted posting)
SERVER_MODE=NORMAL

# Admin Security
# Generate hash using: ./scripts/gen_pass.sh "your_password"
ADMIN_SECRET_HASH=6b698f797c17ebb0318ded7baf788d7ff2bcf1346cf68b27c0a457ae2fe23e94

# Database
DATABASE_URL=postgres://crom:crom_secret@localhost:5432/crom_db?sslmode=disable
